<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width"/>
    <title>总表生成</title>
</head>
<body>
<p style="width:100%; text-align:center;">白银市中心医院植入性医疗器械验收记录表（2017年08月 ）</p>

<table class="table table-hover" border="1" bordercolor="#000000" cellspacing="0">
    <tr>
        <td>购入日期</td>
        <td>商品名称</td>
        <td>规格型号</td>
        <td>单位</td>
        <td>数量</td>
        <td>注册证号</td>
        <td>生产商</td>
        <td>供应商</td>
        <td>使用部门</td>
        <td>生产批号</td>
        <td>有效期</td>
        <td>合格证</td>
        <td>包装识别</td>
        <td>包装情况</td>
        <td nowrap="nowrap">保管人</td>
        <td nowrap="nowrap">使用人</td>
        <td>价格</td>
        <td>住院号</td>
    </tr>
    <foreach name="data" item="vo">
    <tr>
        <td>
            {$vo['GRRQ']}
        </td>
        <td>
            {$vo['SPMC']}
        </td>
        <td>
            {$vo['GGXH']}
        </td>
        <td>
            {$vo['DW']}
        </td>
        <td>
            {$vo['SL']}
        </td>
        <td>
            {$vo['ZCZH']}
        </td>
        <td>
            {$vo['SCS']}
        </td>
        <td>
            {$vo['GYS']}
        </td>
        <td>
            {$vo['SYB']}
        </td>
        <td>
            {$vo['SCPH']}
        </td>
        <td>
            {$vo['YXQ']}
        </td>
        <td>
            {$vo['HGZ']}
        </td>
        <td>
            {$vo['BZSB']}
        </td>
        <td>
            {$vo['BZQK']}
        </td>
        <td>
            {$vo['BGR']}
        </td>
        <td>
            {$vo['SYR']}
        </td>
        <td>
            {$vo['JE']}
        </td>
        <td>
            {$vo['ZYH']}
        </td>
    </tr>
    </foreach>
</table>
<div style="width:100%; text-align:right;">共计：{$count}条&nbsp;&nbsp;&nbsp;&nbsp;总金额：{$sumMoney}元</div>
</body>
</html>
