<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width"/>
    <title>default</title>

</head>
<body>

<div>
    <table width="100%" border="0" cellpadding="0" cellspacing="0">
        <tr>
            <td height="30" colspan="10" align="center" valign="middle" style="font-size:16px;">白银市中心医院</td>
        </tr>
        <tr>
            <td height="30" colspan="10" align="center" valign="middle" style="font-weight:bold; font-size:18px;">
                白银市中心医院植入性医疗器械用户登记表
            </td>
        </tr>
        <tr>
            <td height="30" colspan="5" valign="middle">  患者姓名：{$pbdata['HZXM']}</td>
            <td colspan="5">  手术名称：{$pbdata['SSMC']}</td>
        </tr>
        <tr>
            <td height="30" colspan="5" valign="middle">  手术医师：{$pbdata['SSYS']}  </td>
            <td colspan="5">  手术日期：{$pbdata['SSRQ']}</td>
        </tr>
        <tr>
            <td height="30" colspan="8" valign="middle">  住院号：{$pbdata['ZYH']}</td>
            <td>  地址：{$pbdata['DZ']} </td>
            <td>  联系电话：{$pbdata['LXDH']}</td>
        </tr>
    </table>
    <input type="hidden" id="ID" name="ID" value="@Model.ID"/>
</div>
<div id="tbAll">
    <table width="100%" border="1" cellspacing="0">
        <tr style="text-align: center">
            <td colspan="2">品名</td>
            <td>规格型号</td>
            <td>效期</td>
            <td>生产商</td>
            <td>供应商</td>
            <td>注册证编号</td>
            <td>生产批号</td>
            <td>数量</td>
        </tr>
        <foreach name="ppdata_independent" item="vo">
            <tr>
                <td colspan="2">{$vo['SPMC']}</td>
                <td>{$vo['GGXH']}</td>
                <td>{$vo['YXQ']}</td>
                <td>{$vo['SCS']}</td>
                <td>{$vo['GYS']}</td>
                <td>{$vo['ZCZH']}</td>
                <td>{$vo['SCPH']}</td>
                <td>{$vo['SL']}</td>
            </tr>
        </foreach>
        <present name="ppdata_dependent">
            <tr>
                <td rowspan="{$pbdata['smallTypeCount']}">{$pbdata['greatTypeName']}</td>
                <td>{$ppdata_dependent[0]['SPMC']}</td>
                <td>{$ppdata_dependent[0]['GGXH']}</td>
                <td>{$ppdata_dependent[0]['YXQ']}</td>
                <td>{$ppdata_dependent[0]['SCS']}</td>
                <td>{$ppdata_dependent[0]['GYS']}</td>
                <td>{$ppdata_dependent[0]['ZCZH']}</td>
                <td>{$ppdata_dependent[0]['SCPH']}</td>
                <td>{$ppdata_dependent[0]['SL']}</td>
            </tr>
            <volist name="ppdata_dependent" id="vo" offset="1">
                <tr>
                    <td>{$vo['SPMC']}</td>
                    <td>{$vo['GGXH']}</td>
                    <td>{$vo['YXQ']}</td>
                    <td>{$vo['SCS']}</td>
                    <td>{$vo['GYS']}</td>
                    <td>{$vo['ZCZH']}</td>
                    <td>{$vo['SCPH']}</td>
                    <td>{$vo['SL']}</td>
                </tr>
            </volist>

        </present>
    </table>
</div>


</body>
</html>
